/* .items.hidden{
    display:none;
} */

@media (max-width: 1934px) {
  .logo {
    margin-bottom: none;
    transition: 0.3s;
  }
  .details1 {
    width: 28vh;
    transition: 0.3s;
    font-size: 2.1vh;
  }
  .info-details {
    font-size: 2.1vh;
  }
  .help {
    margin: 10vh;
    justify-content: space-evenly;
    transition: 0.3s;
  }
  .info {
    padding: 3vh;
  }
  .info p {
    font-weight: 400;
    margin-bottom: 2vh;
    transition: 0.3s;
  }
  .info input {
    height: 4vh;
    width: 40vh;
    margin-top: 1.2vh;
    transition: 0.3s;
  }
  .hidden {
    display: none;
  }
}

@media (max-width: 1640px) {
  nav {
    padding: 5px;
    transition: 0.3s;
  }
  .logo {
    font-size: 24px;
  }
  /* section{
        height:auto;
    } */
  .nav-contents {
    font-size: 15;
    transition: 0.3s;
    justify-content: space-between;
  }
  .details1 {
    width: 20vh;
  }
  .help {
    margin: 6vh;
    justify-content: space-evenly;
    transition: 0.3s;
  }
  .info {
    padding: 2vh;
  }
  .info p {
    font-weight: 300;
    margin-bottom: 1.5vh;
    transition: 0.3s;
  }
  .info input {
    height: 3vh;
    width: 40vh;
    margin-top: 1vh;
    transition: 0.3s;
  }
  .info-details {
    margin: 1vh 0vh 1vh 0vh;
    padding: 1.8vh;
    font-size: 2vh;
  }
  .menu-list {
    height: 40vh;
    transition: 0.3s;
  }
  .hidden {
    display: none;
  }
  #message{
    width:40vh;
  }
}

@media (max-width: 1430px) {
  .menu-list {
    height: 30vh;
    transition: 0.3s;
    padding-left: 10vh;
    padding-right: 10vh;
    margin-bottom: 30vh;
  }
  .menu-items {
    margin: 5vh 0vh;
    padding: 3vh;
    transition: 0.3s;
    height: 250px;
    width: 200px;
  }
  #name {
    font-size: 6vh;
    letter-spacing: 2px;
  }
  #tag {
    letter-spacing: 2px;
    font-size: 1.5vh;
  }
  .nav-contents {
    justify-content: space-equally;
  }
  .title {
    font-size: 3vh;
    letter-spacing: 1.7vh;
  }
  .details {
    font-size: 2vh;
  }
  section {
    height: auto;
  }
  .items {
    display: flex;
    transition: 0.3s;
  }
  .details1 {
    font-size: 2vh;
    letter-spacing: 1.5px;
  }
  .classification {
    letter-spacing: 0.5vh;
    padding: 2vh 1vh;
    font-size: 1.5vh;
  }
  .info-details {
    margin: 1vh 0vh;
  }
  .info {
    padding: 3vh;
  }
  .help {
    margin: 3vh;
  }
  .hidden {
    display: none;
  }
}

@media (max-width: 1100px) {
  #menu-icon {
    display: block;
  }
  .nav-items {
    display: none;
  }
  .items{
    display: block;
  }
  .help{
    display: block;
    margin:0vh 6vh;
  }
  .google-map{
    width:400px;
    height:350px;
  }
  .info{
    margin:0vh 5vh;
  }
  .address{
    margin:5vh;
  }
  #message, .info input{
    width:30vh;
  }
  
}

@media (max-width: 750px) {
  .laras img {
    display: none;
  }
  .menu-list {
    display: block;
    margin: 5vh;
    align-items: center;
    justify-content: center;
  }
  .menu-items {
    margin: 1vh;
    padding: 2px;
    border: 1px solid olivedrab;
    height: 7vh;
    align-items: center;
    justify-content: center;
  }
  .menu-items img {
    display: none;
    margin: none;
  }
  section {
    height: auto;
  }

  .help {
    display: block;
    margin: 0;
  }
  .title {
    padding: 4vh;
    font-size: 2vh;
    letter-spacing: 1.5vh;
  }
  .infohead {
    font-size: 2vh;
  }
  .info-details {
    font-size: 1.5vh;
  }
  .button {
    padding: 0.5vh 1vh;
    font-size: 1.5vh;
  }
  .info input {
    width: 25vh;
    height: 4vh;
  }
  #message {
    height: 8vh;
    width: 25vh;
  }
  .info {
    margin-bottom: 3vh;
  }
  #logo {
    font-size: 12px;
  }
  .icons {
    width: 18vh;
  }
  .icons img {
    width: 3vh;
    height: 3vh;
  }
  footer p {
    font-size: 10px;
  }
  /* #vegs {
    display: block;
  }
  #non-vegs {
    display: block;
  } */
  .items.hidden {
    display: none;
  }
  .items{
    display: block;
  }
  .google-map{
    width:300px;
    height:200px;
  }
}

/* .hidden {
  display: none;
} */

@media (max-width: 400px){
    .help{
        margin: 0vh;
    }
    .info, .info-details, .address, #para{
        font-size:1.5vh;
    }
    .google-map{
        width:200px;
        height:150px;
    }
    .footer, #logo a, .icons, .footer p, .material-icons.md-12,{
        font-size: 10px;
    }
    .info{
        margin:0px;
    }
    .info input{
        width:fit-content;
    }
    #message{
        width:10vh;
    }

}

